<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'Account/register.css' %}">
</head>
<body>
    <div class="hero">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <a href = "{% url 'Login' %}">
                <button type="button" class="toggle-btn"">Login</button>
                </a>
                <button type="button" class="toggle-btn">Register</button>
            </div>
            <form id="register" class="input-group" method="post">
                {% csrf_token %}
                {% for field in Register_form %}
                <input type="{{ field.field.widget.input_type }}" class="input-field" name="{{ field.name }}" placeholder="{{ field.label}}" required>
                {% if field.help_text %}
                <p class="help-text"> {{ field.help_text }} </p>
                {% endif %}
                {% endfor %}
                <input type="checkbox" class="check-box"><span>I agree to the terms & conditions</span>
                <button type="submit" class="submit-btn">Registers</button>
            </form>
        </div>
    </div>
</body>
</html>