{% extends "movie/base.html" %}

{% block title %}Movie{% endblock %}

{%block content %}
    <!-- Hiển thị danh sách phim -->
    <h2>Danh sách các phim</h2>
    <ul>
        {% for movie in movies %}
            <li>
                <h3>{{ movie.title }}</h3>
                <p> Rating: {{movie.rating_score}}</p>
                <p> View Count: {{movie.view_count}} </p>
                <p> {{ movie.description }}</p>
                <p> Thể loại: 
                    {% for genre in movie.genres.all %}
                        {{genre.name}}
                    {% endfor %} </p>
                <p>Ngày phát hành: {{ movie.release_date }}</p>
            </li>
        {% endfor %}
    </ul>
    <footer>
        <!-- Chân trang -->
        <p>© 2023 Ứng dụng Web của bạn</p>
    </footer>
{% endblock %}

